<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Campground</title>
</head>

<body>
    <h1>
        <%= campground.title %>
    </h1>
    <p>
        <%= campground.location %>
    </p>
    <footer>
        <a href="/campgrounds/<%=campground._id%>/edit">Edit</a>
        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        <a href="/campgrounds">Home</a>
    </footer>
</body>

</html>